<h1>Make changes to an existing user</h1> 

<%# To edit a User visit URL:
http://localhost:3000/users/:id/edit%
see rails routes for paths>

<%# To run this, enable hashed User attributes in users_controller.rb %>
 <%= form_with model: @user do |form| %>
    <%= label_tag(:username, "Username:") %>
    <%= form.text_field :username, placeholder: "Your user name here" %> <br><br>

    <%= label_tag(:email, "Email:") %>
    <%= form.email_field :email, value: "example@bar.com" %> <br><br>

    <%= label_tag(:password, "Password:") %>
    <%= form.password_field :password , placeholder: "super secure pw" %> <br><br>

    <%= submit_tag("Update") %>
  <% end %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
